<section style="background-color: #d7ccc8">
  <div class="container">
    <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-6 py-5 border-top">
      <div class="col mb-4" >
        <a href="/" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
          <img src="https://fontmeme.com/permalink/240410/276eeb8686d94de73073bb9a205cd6c9.png" class="bi me-2" width="50" height="50" alt="brownside-font" alt="">
        </a>
        <p class="text-muted">© 2024</p>
        <p style="cursor: pointer;" routerLink="/about-us"> <b>About Us</b> </p>
        <div class="col mb-4" style="margin-left: -40px;">
          <ul class="social-icons text-center">
            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="https://www.instagram.com/7_rings_tourism"target=_blank><i class="fab fa-instagram"></i></a></li>
            <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
          </ul>
        </div>
 
      </div>
     
      <div class="col mb-4"></div>
 
      <div class="col mb-4">
        <h5 class="footer-heading"><a style="text-decoration: none; color: black" href="destination/asia">Asia</a></h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="destination/asia" class="nav-link p-0 text-muted">India</a></li>
          <li class="nav-item mb-2"><a href="destination/asia" class="nav-link p-0 text-muted">China</a></li>
        </ul>
      </div>
 
      <div class="col mb-4">
        <h5 class="footer-heading"><a style="text-decoration: none; color: black" href="destination/middle-east">Middle East </a></h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="destination/middle-east" class="nav-link p-0 text-muted">UAE</a></li>
          <li class="nav-item mb-2"><a href="destination/middle-east" class="nav-link p-0 text-muted">Saudi Arabia</a></li>
        </ul>
      </div>
      <div class="col mb-4">
        <h5 class="footer-heading"><a href="destination/europe" style="text-decoration: none; color: black">Europe</a> </h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="destination/europe" class="nav-link p-0 text-muted">France</a></li>
          <li class="nav-item mb-2"><a href="destination/europe" class="nav-link p-0 text-muted">Italy</a></li>
        </ul>
      </div>
 
      <div class="col mb-4">
        <h5 class="footer-heading"><a href="destination/americas" style="text-decoration: none; color: black">Americas</a> </h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="destination/americas" class="nav-link p-0 text-muted">United States</a></li>
          <li class="nav-item mb-2"><a href="destination/americas" class="nav-link p-0 text-muted">Brazil</a></li>
        </ul>
      </div>
       
    </footer>
  </div>
</section>
 