<div id="container">
    <span #text1 id="text1" class="morph-text"></span>
    <span #text2 id="text2" class="morph-text"></span>

  </div>
  
  <!-- The SVG filter used to create the merging effect -->
  <svg id="filters">
    <defs>
      <filter id="threshold">
        <!-- Basically just a threshold effect - pixels with a high enough opacity are set to full opacity, and all other pixels are set to completely transparent. -->
        <feColorMatrix in="SourceGraphic"
            type="matrix"
            values="1 0 0 0 0
                    0 1 0 0 0
                    0 0 1 0 0
                    0 0 0 255 -140" />
      </filter>
    </defs>
  </svg>
