* {
  box-sizing: border-box; 
  font-family: 'Montserrat', sans-serif; 
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  padding-top: 75px;
  padding-bottom: 20px;
  height: 70vh;
  background-color: #e8e6e3; 
}

.locations-header {
  font-size: 2em;
  font-weight: semi;
  padding-bottom: 40px;
} 

.carousel-container {
  margin: 20px;
  width: 75vh;
  height: 41vh;
  display: flex;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  overflow: hidden;
  justify-content: center; 
  align-items: center; 
  box-sizing: border-box;
  transition: transform 0.5s ease-in-out;
}


.carousel img {
  width: calc(100% + 20px);
  height: 41vh;
  max-width: none;
  display: none;
  object-fit: cover; 
}


.carousel img.active {
  display: block; 
}

.carousel-btn {
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  z-index: 2;
}

.carousel-btn {
  background-color: rgba(255, 255, 255, 0.5);
  border: none; 
  border-radius: 50%;
  width: 30px;
  height: 90px;
  color: #ffffff;
  font-size: 36px;
  font-weight: lighter;
  line-height: 56px;
  text-align: center;
  position: absolute;
  cursor: pointer;
  font-weight: lighter;
  transition: all 0.3s ease;
  background: none;
}





.carousel-btn.left {
  left: 0;
}

.carousel-btn.right {
  right: 0;
}

.locations-container {
  flex-grow: 1; 
  display: flex;
  flex-direction: column;
  flex: 0 0 55%;
  align-items: stretch; 
  text-align: center;
  padding-right: 20px;
}

.regions-container {
  display: flex;
  justify-content: space-around; 
  align-items: flex-start;  
  padding: 10px;
}

.region {
  margin: 5px;
  padding: 10px;
  background:linear-gradient(rgba(145, 185, 218, 0.509), rgba(209, 177, 164, 0.505)); /* A subtle contrast to the container */
  border-radius: 10px;
  text-align: center;
  width: 150px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.region:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}


.region img {
  max-width: 100%;
  width: 70px;
  height: auto;
  transition: transform 0.5s ease;
}

.region a:hover img {
  transform: rotateY(180deg);
  filter: brightness(0.9); 
}

.region:hover img {
  transform: scale(1.1);
}

.region h3 {
  margin-top: 10px;
  font-size: 18px;
  color: #333;
}

.region p {
  font-size: 16px;
  color: #666;
}

.icon {
  margin: 0 auto; 
  transition: transform 0.5s; 
}

.icon:hover {
  transform: rotate(360deg); 
}