@import '../../../node_modules/@angular/material/prebuilt-themes/indigo-pink.css';


.package-details {
  display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding-right: 91px;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    background-color: #e8e6e3;
    text-align: center;
}

.details-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* max-width: 100%; */
  /* Adjust as needed */
  /* margin: auto; */
}

.image-container img {
  width: 700px;
  height: 400px;
  
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 1.5rem;
}

.info-container {
  width: 350px;
  padding-left: 80px;
  flex: 1;
  margin-left: 10px;
  margin-right: 10px;
  /* max-width: 300px; */
  /* Add margin between image and info */
}

.confirm-button {
  background-color: #011e9b;
  color: #fff;
  border: none;
  padding: 0.8rem 1.5rem;
  margin-top: 2rem;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 50px;
  transition: background-color 0.3s ease;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.confirm-button:hover {
  background-color: #0101c9;
}

.package-details h2 {
  color: #333;
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  font-weight: 700;
}

/* Add space between image and text */
@media (min-width: 768px) {
  .image-container img {
    margin-right: 20px;
    /* Adjust the margin as needed */
  }
}

h1 {
  color: #080808;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-weight: 700;
  text-align: center;
}