<app-navbar></app-navbar>
 
<div *ngIf="package" class="package-details">
  <div class="details-container">
    <!-- Image -->
    <div class="image-container">
      <img [src]="package.imageUrl2" alt="{{ package.packageName }}">
    </div>
 
    <!-- Package Information -->
    <div class="info-container">
     
      <h2>{{ package.packageName }}</h2>
      <p>{{ package.description }}</p>
      <p> <b>Country:</b>  {{ package.countryName }}</p>
 
      <b>Number of Travelers: </b>
      <input type="number" class="input-field short" id="travelers" formControlName="travelers" placeholder="Travelers" [min]=1
        [value]="selectedTravelers || 1" (input)="updateSelectedTravelers($event) ">
      <p> <b>Number of Travelers: </b>{{selectedTravelers}}</p>
 
      <p><b>Cost per Person: </b> ${{ package.costPerPerson }}</p>
     
      <b>Date of Travel: </b>
      <input type="date" class="input-field" id="check-in" formControlName="date" [min]="currentDate"
        placeholder="Check-in Date" [value]="selectedDate || getCurrentDate()" (change)="updateSelectedDate($event)">
 
 
      <!-- <p *ngIf="selectedDate != ''">  <b>Date of Travel:</b> {{ selectedDate | date:'dd-MM-yyyy' }}</p> -->
      <br><br>
 
      <p *ngIf="totalCost != 0"> <b>Total Cost:</b> $ {{totalCost}} </p>
      <p>Continue adding travelers info to confirm your Trip Reservation</p>
      <div class="button-container" style="display: flex; justify-content: center;">
        <button class="confirm-button" routerLink="/trav-info" (click)="onTravelersAdded()">Add Travelers</button>
        <div class="" style="padding-right: 20px;"></div>
        <button class="confirm-button" (click)="openConfirmBookingModal()" [disabled]="!onTravelersAdded" [title]="cnfrm">Confirm Booking</button>
      </div>
     
      <app-confirm-booking-modal (confirmation)="handleConfirmation($event)"[packageName]="package?.packageName || ''"></app-confirm-booking-modal>
 
    </div>
  </div>
 
</div>
 
  <mat-horizontal-stepper>
    <mat-step label="Step 1" state="phone">
      <app-timeline></app-timeline>
      <!-- <p>Put down your phones.</p> -->
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </mat-step>
    <mat-step label="Step 2" state="chat">
      <app-travelers-info></app-travelers-info>
      <!-- <p>Socialize with each other.</p> -->
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </mat-step>
    <mat-step label="Step 3">
      <p>You're welcome.</p>
    </mat-step>
 
    <!-- Icon overrides. -->
    <ng-template matStepperIcon="phone">
      <mat-icon>call_end</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="chat">
      <mat-icon>forum</mat-icon>
    </ng-template>
  </mat-horizontal-stepper>
 
 
<!-- <h1> Itinerary </h1> -->
<app-confirm-booking-modal (confirmation)="handleConfirmation($event)"></app-confirm-booking-modal>
 
<!-- <app-timeline></app-timeline> -->
<app-footer></app-footer>