<app-navbar></app-navbar>
<!-- <h1> Rajasthan Desert Safari </h1> -->
<!-- <h4>Itinerary</h4>
<app-timeline></app-timeline> -->
 
<div *ngIf="package" class="package-details">
  <div class="details-container">
    <!-- Image -->
    <div class="image-container">
      <img [src]="package.imageUrl2" alt="{{ package.packageName }}">
    </div>
 
    <!-- Package Information -->
    <div class="info-container">
      
      <h2>{{ package.packageName }}</h2>
      <p>{{ package.description }}</p>
      <p> <b>Country:</b>  {{ package.countryName }}</p>

      <b>Number of Travelers: </b>
      <input type="number" class="input-field short" id="travelers" formControlName="travelers" placeholder="Travelers" [min]=1
        [value]="selectedTravelers || 1" (input)="updateSelectedTravelers($event) ">
      <p> <b>Number of Travelers: </b>{{selectedTravelers}}</p>

      <p><b>Cost per Person: </b> ${{ package.costPerPerson }}</p>
      <p *ngIf="selectedDate != ''">  <b>Date of Travel:</b> {{ selectedDate | date:'dd-MM-yyyy' }}</p>
      <p *ngIf="totalCost != 0"> <b>Total Cost:</b> $ {{totalCost}} </p>
      <p>Continue adding travelers info to confirm your Trip Reservation</p>
      <div class="button-container" style="display: flex; justify-content: center;">
        <button class="confirm-button" routerLink="/trav-info" (click)="onTravelersAdded()">Add Travelers</button>
        <div class="" style="padding-right: 20px;"></div>
        <button class="confirm-button" (click)="openConfirmBookingModal()" [disabled]="!onTravelersAdded" [title]="cnfrm">Confirm Booking</button>
      </div>
      
      <app-confirm-booking-modal (confirmation)="handleConfirmation($event)"[packageName]="package?.packageName || ''"></app-confirm-booking-modal>
 
    </div>
  </div>
</div>
<app-confirm-booking-modal (confirmation)="handleConfirmation($event)"></app-confirm-booking-modal>
 
<app-footer></app-footer>