<app-navbar></app-navbar>
<div class="contact-us-container">
    <div class="contact-us-header">
      <h1>Get in Touch</h1>
      <p>We'd love to hear from you. Drop us a line and we'll get back to you as soon as we can.</p>
    </div>
  
    <div class="contact-us-content">
      <div class="contact-info">
        <div class="info-item">
          <i class="fas fa-envelope"></i>
          <h3>Email</h3>
          <p style="padding-left: 10px; padding-top: 11px;"> <a href="mailto:7ringstourism@gmail.com">7ringstourism&#64;gmail.com</a></p>
        </div>
        <div class="info-item">
          <i class="fas fa-phone-alt"></i>
          <h3>Phone</h3>
          <p style="padding-left: 10px; padding-top: 11px;" >+91 - 9788445676</p>
        </div>
        <div class="info-item">
          <i class="fas fa-map-marker-alt"></i>
          <h3>Address</h3>
          <p style="padding-left: 10px; padding-top: 11px;">IBC, Knowledge Park
            Bengaluru
          </p>
        </div>
      </div>
  
      <div class="contact-form">
        <form action="javascript:void(0)" (submit)="send()">
          <div class="form-group">
            <input type="text" [(ngModel)]="name" name="name" placeholder="Name" required />
          </div>
          <div class="form-group">
            <input type="email" [(ngModel)]="email" name="email" placeholder="Email" required />
          </div>
          <div class="form-group">
            <textarea [(ngModel)]="message"  name="message" placeholder="Message"></textarea>
          </div>
          <button type="submit" class="submit-btn">Send Message</button>
        </form>
      </div>
      
    </div>
  </div>

  <app-footer> </app-footer>
