<app-navbar></app-navbar>
<div class="exclusive-container">
  <div class="exclusive-content">
    <h1 class="exclusive-title">The 7 Rings Package</h1>
    <br>
    <p class="exclusive-description">
      Embark on a journey of a lifetime with The 7 Rings Package, encompassing all the Seven Wonders of the World. Our exclusive itinerary includes destinations across continents, ensuring a seamless luxury experience from the bustling streets of Asia to the historic landmarks of Europe, the architectural marvels of the Middle East, and the natural wonders of the Americas.
    </p>
    <br>
    <ul class="exclusive-highlights">
      <li>Discover the rich history and beauty of China and India in Asia.</li>
      <li>Be enchanted by the romantic landscapes of France and Italy in Europe.</li>
      <li>Experience the modern wonders and culture of the UAE and Saudi Arabia in the Middle East.</li>
      <li>Embrace the vibrant city life and nature of the USA and Brazil in the Americas.</li>
    </ul><br>
    <div class="exclusive-booking">
      <span class="exclusive-price">$3,000 USD per person</span><br>
      <button class="exclusive-book-now" (click)="openConfirmBookingModal()">Book Now</button><br><br><br>
    </div>
  </div>
<div class="book-container"> 
  <h1 class="title">
    Explore Now
   </h1>
  <div class="book">
    <div class="gap"></div>
    <div class="pages">
      <div class="page"></div>
      <div class="page"></div>
      <div class="page"></div>
      <div class="page"></div>
      <div class="page"></div>
      <div class="page"></div>
    </div>
    <div class="flips">
      <div class="flip flip1">
        <div class="flip flip2">
          <div class="flip flip3">
            <div class="flip flip4">
              <div class="flip flip5">
                <div class="flip flip6">
                  <div class="flip flip7"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>

<app-confirm-booking-modal (confirmation)="handleConfirmation($event)"></app-confirm-booking-modal>

<app-footer></app-footer>
