
.title-main{
  padding-top: 80px; 
  padding-bottom: 10px; 
  padding-left: 390px; 
  font-size: 9em;
  font-weight: bold;
  align-items: center;
  justify-content: center;
}

.container{
    justify-content: center;
    align-items: center;
}

.footer{
  padding-top: 100px;
}

body {
    margin: 0;
    background-color: #2e2e31;
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100vw;
    flex: content;


  }
  .region-cards{
    /* padding-left: 50px; */
    padding-top: 120px;
    margin-bottom: 70px;
    }  
   
  .container {
    height: 100vh;
    width: 100vw;
    max-height: 600px;
    max-width: 1200px;
    min-height: 600px;
    min-width: 1100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
  }
  
  .panel {
    height: 270px;
    width: 190px;
    position: relative;
  
    &:hover {
      .card {
        filter: blur(1.5px);
      }
      .card1 {
        background-size: 215% 135%;
        
      }
      .card2 {
        background-size: 115% 115%;
      }
      .card3 {
        background-size: 155% 115%;
      }
      .card4 {
        background-size: 155% 115%;
      }
      .title {
        color: rgba(255, 255, 255, 0.2);
      }
      .border {
        border: 1px solid rgba(255, 255, 255, 1);
      }
      .slide {
        bottom: 0px;
      }
      .ring:before,
      .ring:after {
        transform: translateX(-50%) translateY(-50%) rotate(310deg);
      }
    }
  }
  .ring,
  .card,
  .border,
  .slide,
  .line {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .ring {
    color: #fffbf1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 170px;
  }
  
  .card {
    background: #f0ead6;
    position: relative;
    transition: all 1s;
    height: 270px;
    width: 190px;
    border: 1px solid rgba(255, 255, 255, 1);
  }
  
  .card1 {
    background-image: url("https://images.pexels.com/photos/1673978/pexels-photo-1673978.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-repeat: no-repeat;
    background-size: 200% 120%;
  }
  
  .card2 {
    background-image: url("https://images.pexels.com/photos/6039244/pexels-photo-6039244.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  
  .card3 {
    background-image: url("https://images.pexels.com/photos/3182530/pexels-photo-3182530.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-repeat: no-repeat;
    background-size: 140% 100%;
  }
  .card4{
    background-image: url("https://images.pexels.com/photos/2867769/pexels-photo-2867769.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-repeat: no-repeat;
    background-size: 140% 100%;

  }
  
  .ring:before,
  .ring:after {
    content: "";
    padding: 0.7em 0.4em;
    position: absolute;
    left: 50%;
    width: 115%;
    top: 50%;
    display: block;
    border: 5px solid #50c9c3;
    border-radius: 50%;
    transition: transform 1s;
    transform: translateX(-50%) translateY(-50%) rotate(50deg);
  }
  
  .ring:after {
    border-color: rgb(235, 235, 235) rgb(235, 235, 235) rgba(0, 0, 0, 0)
      rgba(0, 0, 0, 0);
    z-index: -1;
  }
  
  .ring:before {
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgb(235, 235, 235)
      rgb(235, 235, 235);
  }
  
  p {
    text-align: center;
    position: absolute;
  }
  
  .title {
    font-size: 36px;
    font-weight: 700;
    transition: all 1s;
    top: 0;
    
  }
  
  .para {
    
    font-size: 16px;
    padding: 20px 40px;
    margin: 0;
    text-align: center;
  }
  
  .border {
    position: absolute;
    border: 1px solid rgba(255, 255, 255, 0.5);
    height: 260px;
    width: 180px;
    transition: border 1s;
    overflow: hidden;
  }
  
  .slide {
    height: 260px;
    width: 180px;
    position: absolute;
    border: 1px solid black;
    bottom: -270px;
    background: rgba(0, 0, 0, 0.5);
    transition: bottom 1s;
    flex-direction: column;
  }
  
  .fa-plane {
    font-size: 16px;
  }