<app-navbar></app-navbar>

<div  class="title-main">
    <h1>Destinations We Serve</h1>
</div>

<div>
    <div class="row">
        <p>Our world brims with diverse landscapes and vibrant cultures, each whispering promises of unforgettable experiences. From the ancient temples of Asia to the pulsating rhythms of the Americas, Europe's timeless artistry to the Middle East's captivating spice trails, every region beckons with its own unique travel treasures.
            <br>
            <br>
           <b>Where will your wanderlust take you? Explore our incredible travel packages below and find your dream escape.</b>
        </div>
    
</div>
<div class=" "></div>
<div class="region-cards">
    <div class="card bg-dark text-white">
            <div class="container">
                <div class="panel">
                  <div class="ring">
                    <div class="card card1"></div>
                    <div class="border">
                      <p class="title"  style="color: white;">Asia</p>
                      <div class="slide">
                        <a class="para" style="text-decoration: none" href  = "destination/asia">Find Packages to Asia</a>
                        <div class = "line">
                            <h6 style="flex: content; padding-left: 8px; padding-right: 8px; font-size: 15px;">Explore the tapestry of traditions starting from just 1000 pax.</h6>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="panel">
                  <div class="ring">
                    <div class="card card2"></div>
                    <div class="border">
                      <p class="title" style="color: white;" >Americas</p>
                      <div class="slide">
                        <a class="para" style="text-decoration: none" href  = "destination/americas">Finds Packages to Americas</a>
                        <div class="line">
                            <h6 style="flex: content; padding-left: 8px; padding-right: 8px; font-size: 15px;">Explore the vibrant cities starting from just 1700 pax.</h6>
                        </div>
                        
                      </div>
                    </div>
                  </div>
                </div>
                <div class="panel">
                  <div class="ring">
                    <div class="card card3"></div>
                    <div class="border">
                      <p class="title" >Europe</p>
                      <div class="slide">
                        <a class="para" style="text-decoration: none" href  = "destination/europe">Find packages to Europe</a>
                        <div class="line">
                            <h6 style="flex: content; padding-left: 8px; padding-right: 8px; font-size: 15px;">Unveil the majestic castles starting from just 2000 pax.</h6>
              
                        </div>
                        
                      </div>
                    </div>
                  </div>
                </div>
                <div class="panel">
                    <div class="ring">
                      <div class="card card4"></div>
                      <div class="border">
                        <p class="title">Middle East</p>
                        <div class="slide">
                          <a class="para" style="text-decoration: none" href  = "destination/middle-east">Find pacakges to Middle East</a>
                          <div class="line">
                            <h6 style="flex: content; padding-left: 8px; padding-right: 8px; font-size: 15px;"> Embark on a sensory adventure of the Middle East. starting from just 1200 pax.</h6>
                
                          </div>
                         
                        </div>
                      </div>
                    </div>
                  </div>

    </div>
    


</div>
<router-outlet></router-outlet>
<div class="footer"><app-footer></app-footer></div>

