// Colors
// $color-primary-white: rgb(240, 240, 240);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.container{
    font-family: 'Montserrat', sans-serif; 
}


main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 13px;
    font-family: 'Montserrat', sans-serif; 
}

.card {
    width: 23rem;
    height: 20rem;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    color: white;
    box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);
    font-size: 13px;
   

    img {
        position: absolute;
        object-fit: cover;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 2;
        transition: opacity .2s ease-out;
    }

    h2 {
        position: absolute;
        inset: auto auto 30px 30px;
        margin: 0;
        transition: inset .3s .3s ease-out;
        font-weight: normal;
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif; 
    }

    p,
    a {
        position: absolute;
        opacity: 0;
        max-width: 80%;
        transition: opacity .3s ease-out;
        font-family: 'Montserrat', sans-serif; 
    }

    p {
        inset: auto auto 20px 30px;
        font-family: 'Montserrat', sans-serif; 
    }

    a {
        inset: auto auto 40px 30px;
        color: inherit;
        text-decoration: none;
        font-family: 'Montserrat', sans-serif; 
    }

    &:hover h2 {
        inset: auto auto 200px 30px;
        transition: inset .3s ease-out;
        color: black;
    }

    &:hover p,
    &:hover a {
        opacity: 2;
        transition: opacity .5s .1s ease-in;
        color: black;
    }

    &:hover img {
        transition: opacity .1s ease-in;
        opacity: .2;
    }

}

.material-symbols-outlined {
    vertical-align: middle;
}