body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;

}
.hero-nav {
    z-index: 50;
    position: fixed;
    /* margin-top: 110px; */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    min-height: 105px;
    background-image: url('/assets/icons/hero-img.jfif');
    background-size: cover;
    background-position: center;
    overflow: hidden;
    will-change: height, background;
}
.hero-nav:before {
    content: "";
    background: rgba(0, 0, 0, 0);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: background 400ms;
}
.hero-nav.fixme:before {
    background: rgba(0, 0, 0, 0.8);
}
.hero-nav__inner {
    z-index: 1;
    margin-bottom: 160px;
}
/* .hero-nav h1 {
    color: #efefef;
    font-size: 5vw;
}
.page-content {
    width: 30em;
    margin: 0 auto;
    line-height: 1.625;
} */
