<div class="search-container">
  <form [formGroup]="searchForm" (ngSubmit)="search()">
    <div class="search-box">
      <div class="search-section">
        <select class="input-field" id="region" formControlName="region">
          <option disabled selected value="">Select Region</option>
          <option *ngFor="let region of regions" [value]="region.id">{{ region.name }}</option>
        </select>
        <span class="vertical-line"></span>
        <input type="date" class="input-field" id="check-in" formControlName="date" [min]="currentDate"
          placeholder="Check-in Date">
        <span class="vertical-line"></span>
        <input type="number" class="input-field short" id="travelers" formControlName="travelers"
          placeholder="Travelers">
      </div>
      <button class="find-tours-btn" type="submit" [disabled]="!searchForm.valid" [ngClass]="{'enabled': searchForm.valid}"
        (mouseenter)="onMouseEnter()">
        FIND&nbsp;TOURS
      </button>
    </div>
  </form>
</div>