
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  font-weight: 700;
  color: #333; 
  padding: 30px 0 10px 0; 
  margin-bottom: 30px; 
  text-transform: uppercase; 
  letter-spacing: 2px;  
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}


.header-gradient {
  background-color: #eae0d5;
  /*background: linear-gradient(to right, rgb(204, 166, 154), #fce373);*/
  padding: 10px 10px 50px 10px; 
  text-align: center; 
  border-bottom: 5px solid #fff; 
  border: 0;
}

.custom-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* gap: 32px; */
  justify-content: center;
  align-items: center;
  margin: 0px;
}

.filters {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 6px;
  margin-bottom: 20px;
  width: 100%;
  padding: 0px 32px 0px 64px;
  border-radius: 8px;
}

.adventure-type-filter,
.cost-per-person-filter {
  display: flex;
  text-wrap: nowrap;
  align-items: center;
  gap: 4px;
}

.adventure-type-filter {
  width: 28%;
}

.cost-per-person-filter {
  width: 46%;
  padding-right: 24px;
}

.filter-actions {
  width: 26%;
}

.slider {
  display: flex;
  flex-flow: row nowrap;
  gap: 8px;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  padding: 0px 8px;
}

.slider span {
  font-size: 0.8rem;
  width: 8%;
}
 mat-slider {
  width: 70% !important;
 }
.adventure-type-filter select{
  background-color: #F5F5F5;
}

.cost-per-person-filter select {
  background-color: #CCCCCC;
}

.adventure-type-filter label {
  margin-right: 10px;
}

.adventure-type-filter select,
.cost-per-person-filter select {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ddd;
  /* background-color: #ffffff; Light background for the select dropdown */
  color: #333;
}

.adventure-type-filter select:hover {
  background-color: #D3D3D3;
}

.apply-filters-btn:hover {
  background-color: #cda489; 
}
.clear-filters-btn:hover {
  background-color: #e09e8a; 
}

.apply-filters-btn,
.clear-filters-btn {
  padding: 10px 20px;
  border-radius: 20px; 
  font-size: 1rem;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
}

.apply-filters-btn {
  background-color: #d9b79c; /* Bootstrap warning color */
  color: #333;
}

.clear-filters-btn {
  background-color: #f4b19a; /* Bootstrap danger color light */
  color: #721c24; /* Bootstrap danger color */
}

.adventure-type-filter label,
.cost-per-person-filter label {
  margin-right: 10px;
}

.range-slider {
  display: flex;
  align-items: center;
  background: #f8f4f0; 
  border-radius: 10px;
  padding: 6px;
}

.range-slider input[type="range"] {
  width: 200px;
  margin: 0 10px;
  background: transparent;
}

.range-slider span {
  min-width: 60px;
  text-align: center;
}

.range-slider input[type="range"]::after {
  content: attr(value);
  position: absolute;
  top: -30px; /* Adjust as needed */
  left: 50%;
  transform: translateX(-50%);
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 0.8rem;
}

.range-slider input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #fe7606;
  cursor: pointer;
}

.range-slider input[type="range"]::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #fe7606;
  cursor: pointer;
}

.filter-actions {
  display: flex;
  justify-content: space-evenly;
  gap: 2px;
}


.tour-packages {
  padding: 20px 0 0 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  justify-items: center;
}

.tour-package {
  background-color: #FAF0E6;
  padding: 20px 15px;
  border-radius: 5px;
  transition: transform 0.2s, box-shadow 0.2s;
  height: 485px;
  width: 390px;
}

.tour-package:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.tour-package img {
  width: 100%;
  height: 200px; 
  border-radius: 4px;
  margin-bottom: 10px;
  object-fit: cover;
}

.no-results {
  grid-column: 1 / -1;
  text-align: center;
}

a {
  text-decoration: none;
  color: inherit;
}