<div class="home">
    <app-navbar></app-navbar>

    <br><br><br>

    <app-type-writer></app-type-writer>

    <!-- <app-parallax-effect></app-parallax-effect> -->

    <app-scroll-effect></app-scroll-effect>

    <!-- <app-search> </app-search> -->   <br><br><br>

    <app-locations-text></app-locations-text>

    <app-country-carousel> </app-country-carousel>

    <br><br>

    <app-explore-weather></app-explore-weather>

    <br><br><br>

    <app-offerings></app-offerings>

    <app-testimonials></app-testimonials>

    <app-footer></app-footer>
    <!-- 
    <app-country-carousel></app-country-carousel> -->
</div>